html, body {
	background-color: #BCC1C0;
	font-family: 'Roboto Mono', monospace;
}
h1, h2, h4 {
	color: #8E1303;
}
h3 {
	color: #AB4903;
}
th {
	background-color: #4F4F4F;
	color: #D1D0D2;
}
table {
	border-collapse: collapse;
	width: 40%;
}
td, tr, th {
	border: 2px solid black; 
	text-align: left; 
	padding: 5px;
}
tr:nth-child(even) {
	background-color: darkgrey;
}
div.list {
	margin-left: 30px;
}
div.stages {
	background-color: #272627;
	color: #B6B6B6;
	margin: 20px 0 20px 0;
	padding: 20px;
	border-radius: 50px;
}